[submodule "third_party/coroio"]
	path = third_party/coroio
	url = https://github.com/resetius/coroio.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/hiredis"]
	path = third_party/hiredis
	url = https://github.com/redis/hiredis.git
[submodule "third_party/redis-plus-plus"]
	path = third_party/redis-plus-plus
	url = https://github.com/sewenew/redis-plus-plus.git
